<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Failed authentication</title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content">
      <h1>Failed authentication</h1>
      <p>The username or password is incorrect.</p>
    </div>
  </body>
</html>
