<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= folder.name %></title>
  </head>
  <body>
    <%- include('navBar', links); %>
    <div class="content">
      <h1><%= folder.name %></h1>
      <% if (locals.files) { %>
      <h2>Files</h2>
      <ul>
        <% for (const file of files) { %>
        <li><%= file.name %></li>
        <% } %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
