<% if (locals.links) { %>
<nav>
  <ul class="nav-bar">
    <% for (const link of links) { %>
    <li><a class="nav-link" href="<%= link.href %>"><%= link.text %></a></li>
    <% } %>
  </ul>
</nav>
<% } %>
