<h1><%= title %></h1>
<form action="<%= postLink %>" method="POST">
  <label for="folder">Folder name: </label>
  <input
    type="text"
    name="folder"
    id="folder"
    value="<%= locals.folderName ? folderName : '' %>"
  />
  <input type="submit" />
</form>
