:root {
  --folder-color: rgb(104, 201, 26);
  --file-color: rgb(18, 108, 182);
  --nav-color: rgb(221, 202, 31);
}

html {
  background: linear-gradient(
    to right,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  color: white;
  /* background-image: linear-gradient(
    111.1deg,
    rgba(69, 150, 164, 1) 2.5%,
    rgba(17, 20, 34, 1) 100.3%
  );
  background-repeat: no-repeat; */
}

.content {
  width: 500px;
}

a {
  text-decoration: none;
}

body,
.content,
.details-link,
.folder-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  gap: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  border: solid 2px var(--nav-color);
  border-radius: 5px;
  padding: 5px;
}

.nav-link,
.nav-link:visited {
  color: var(--nav-color);
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: max-content 200px;
  grid-auto-rows: min-content;
  gap: 10px;
}

input[type="submit"] {
  width: min-content;
  grid-column: 2 / 3;
  justify-self: flex-end;
}

label {
  text-align: right;
}

.details-link {
  text-align: center;
  gap: 5px;
  font-weight: 600;
}

.file-card {
  background-color: var(--file-color);
}

.details-link,
.details-link:visited,
.folder-link,
.folder-link:visited {
  color: white;
}

.list-item {
  font-size: 1.2rem;
}

.folder-link {
  text-align: center;
  font-weight: 600;
}

.folder-card,
.file-card {
  border-radius: 5px;
  padding: 10px;
}

.folder-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 10px;
  background-color: var(--folder-color);
}

.action-icons {
  justify-self: center;
}

.folder-icon,
.file-icon {
  width: 50px;
  height: auto;
}

.folders,
.files {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.action-icon {
  width: 20px;
  height: auto;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}

.file-details {
  display: grid;
  grid-template-columns: max-content;
  gap: 20px;
  background-color: var(--file-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  font-size: 1.1rem;
}

.file-link a,
.file-link a:visited {
  font-weight: 600;
  color: white;
  font-size: 1.2rem;
}

.file-icons {
  display: flex;
  justify-content: space-around;
}

.folder-icon,
.file-icon,
.action-icon {
  filter: invert(94%) sepia(100%) saturate(2%) hue-rotate(271deg)
    brightness(111%) contrast(101%);
}
