body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.nav-link,
.nav-link:visited {
  color: green;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid 2px green;
  border-radius: 5px;
  padding: 5px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: max-content 200px;
  grid-auto-rows: min-content;
  gap: 10px;
}

input[type="submit"] {
  width: min-content;
  grid-column: 2 / 3;
  justify-self: flex-end;
}

label {
  text-align: right;
}

.details-link,
.details-link:visited {
  text-decoration: none;
  color: rgb(18, 108, 182);
  border: solid 2px rgb(18, 108, 182);
  border-radius: 3px;
  padding: 3px;
  margin-left: 15px;
}

.list-item {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.folder-link,
.folder-link:visited {
  text-decoration: none;
  color: rgb(146, 115, 14);
  border: solid 2px rgb(146, 115, 14);
  border-radius: 5px;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}
