body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 20px;
}

.nav-link,
.nav-link:visited {
  color: green;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  border: solid 2px green;
  border-radius: 5px;
  padding: 5px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: max-content 200px;
  grid-auto-rows: min-content;
  gap: 10px;
}

input[type="submit"] {
  width: min-content;
  grid-column: 2 / 3;
  justify-self: flex-end;
}

label {
  text-align: right;
}
